<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>丽人</key>
	<array>
		<string>全部</string>
		<string>美发</string>
		<string>美容</string>
		<string>美甲</string>
	</array>
	<key>休闲娱乐</key>
	<array>
		<string>全部</string>
		<string>酒店</string>
		<string>台球网吧</string>
		<string>棋牌游艺</string>
		<string>KTV</string>
		<string>足疗按摩</string>
		<string>酒吧</string>
	</array>
	<key>品牌</key>
	<array>
		<string>全部品牌</string>
		<string>德克士</string>
		<string>真功夫</string>
		<string>古本良田</string>
		<string>红堪KTV</string>
		<string>梦之幻梦幻剪</string>
		<string>好柿100</string>
		<string>麻里麻里香锅</string>
		<string>星月时尚酒店</string>
		<string>韩庄</string>
		<string>麦当劳</string>
		<string>东方火锅</string>
		<string>食间牛排</string>
	</array>
	<key>商圈选择</key>
	<array>
		<string>全部商圈</string>
		<string>朝阳公园/桂林路</string>
		<string>红旗街</string>
		<string>人民广场</string>
		<string>东盛</string>
		<string>文化广场</string>
		<string>东广场</string>
		<string>体育馆</string>
		<string>南湖公园</string>
		<string>卫星广场</string>
		<string>经济开发区</string>
		<string>高新区</string>
	</array>
	<key>生活服务</key>
	<array>
		<string>全部</string>
		<string>干洗</string>
		<string>文化场馆</string>
		<string>医疗</string>
		<string>学校培训</string>
	</array>
	<key>美食</key>
	<array>
		<string>全部</string>
		<string>火锅</string>
		<string>西餐</string>
		<string>自助</string>
		<string>咖啡</string>
		<string>烧烤</string>
		<string>川菜</string>
		<string>日韩</string>
		<string>东北菜</string>
		<string>吉菜</string>
		<string>鲁菜</string>
		<string>牛排</string>
		<string>海鲜</string>
		<string>新疆，清真</string>
		<string>快餐</string>
		<string>奶茶饮品</string>
		<string>西北菜</string>
		<string>东南亚</string>
		<string>台湾菜</string>
	</array>
</dict>
</plist>
